#title-home{
    font-size: 24px;
    font-family: sans-serif;
    color: $primary-color;
}

.btn{
    padding: 10px 15px;
    background-color: $btn-color;
    color: white;
}

@mixin text-style($color, $font-size, $font-family){
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}