.classe1{
    ul{
        background-color: red;
    }

    li{
        background-color: blue;
        padding: 10px 5px;
        &:hover{
            background-color: purple;
            transition: 0.25s;
            cursor: pointer;
        }
    }
 }